.card2{
    
    position: relative;
    
    bottom: 1500px;
    height: 0px;
    right: 210px;
}



.rake{
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 2050px;
    right: 190px;


}

.card-text{
    position: relative;
    right: 200px;
    font-size: 20px;
}

.rake1{
    position: relative;
    right: 255px;
    bottom: 43px;
    font-size: 20px;
}

.rake3{
    position: relative;
    bottom: 60px;
    
    right: 240px;
}

.rake2{
    width: 20px;
    position: relative;
    right: 290px;
    bottom: 34px;
}

.rake4{
    position: relative;
    right: 237px;
    bottom: 56px;
}

.rake5{
    width: 20px;
    position: relative;
    right: 170px;
    bottom: 83px;
}

.rake6{
    position: relative;
    right: 122px;
    bottom: 106px;
}

.card-img-top{
    position: relative;
    right: 6px;
}


.rake7{
    width: 20px;
    position: relative;
    right: 65px;
    bottom: 60px;
}

.rake8{
    position: relative;
    bottom: 1860px;
    right: 250px;
    font-size: 20px;
}

.rake9{
    background-color: white;
    width: 300px;
    height: 400px;

    position: relative;
    bottom: 2670px;
    left: 150px;
}

.rake16{
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 3290px;
    left: 500px;
}


.rake18{
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 3450px;
    right: 187px;
    
}


.rake20{
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 4068px;
    left: 155px;

}

.rake10{
    position: relative;
    right: 230px;
    top: 9px;

}

.rake11{
    width: 20px;
    position: relative;
    right: 285px;
    top: 36px;
}

.rake12{
    width: 20px;
    position: relative;
    right: 260px;
    top: 14px;

}

.rake13{
    width: 20px;
    position: relative;
    right: 160px;
    bottom: 13px;
}

.rake14{
    position: relative;
    right: 112px;
    bottom: 35px;
}

.rake15{
    width: 20px;
    position: relative;
    right: 60px;
    top: 30px;
}


.rake21{

    position: relative;
    right: 200px;
    top: 10px;

}

.rake22{
    position: relative;
    right: 260px;
    bottom: 15px;
}


.rake23{
    position: relative;
    bottom: 4000px;
    width: 300px;
    height: 500px;
}


.card-text1{
    position: relative;
    bottom: 20px;
    right: 200px;
    font-size: 20px;
}

.rake24{
    width: 320px;
    height: 380px;
    position: relative;
    left: 300px;
    bottom: 4464px;
    font-size: 20px;
    
}

.rake25{
    position: relative;
    bottom: 4580px;
    width: 400px;
    height: 380px;
    right: 190px;

}

.rake26{
    width: 300px;
    height: 380px;
    position: relative;
    bottom: 4768px;
    right: 47px;
}


.card7{
    background-color: white;
    height: 400px;
    position: relative;
    top: 190px;

}


.card8{
    background-color: white;
    width: 320px;
    height: 400px;
    position: relative;
    left: 200px;
    
}


.card9{
    background-color: white;
    width: 320px;
    height: 400px;
    position: relative;
    left: 510px;
}


.card10{
    background-color: white;
    width: 320px;
    height: 400px;
    
    position: relative;
}


.card-img-top2{
    position: relative;
    right: 10px;
    width: 230px;
    
}

.rake27{
    position: relative;
    right: 200px;
    top: 15px;
}


.rake28{
    width: 20px;
    position: relative;
    right: 60px;
    top: 70px;
}


.rake29{
    position: relative;
    bottom: 380px;
    right: 200px;
}

.rake30{
    position: relative;
    bottom: 400px;
    right: 260px;
}

.rake31{
    width: 20px;
    position: relative;
    bottom: 315px;
    right: 60px;
}

.rake32{
    width: 20px;
    position: relative;
    top: 102px;
    right: 60px;
}

.rake33{
    width: 20px;
    position: relative;
    right: 70px;
    top: 60px;
}


.rake34{
    font-size: 15px;
    position: relative;
    top: 35px;
    right: 200px;
}

.rake35{
    width: 20px;
    position: relative;
    right: 75px;
    top: 105px;
}

.card-img-top3{
    width: 250px;
}

.card-text4{
    font-size: 20px;
    position: relative;
    right: 190px;
    top: 25px;
}

.card-text5{
    font-size: 20px;
    position: relative;
    right: 190px;
    top: 25px;
    
}



.rake36{
    position: relative;
    right: 190px;
    top: 40px;
}


.rake37{
    position: relative;
    bottom: 5145px;
}


.rake38{
    position: relative;
    bottom: 5097px;
    right: 182px;
}

.rake39{
    position: relative;
    bottom: 5495px;
    left: 160px;
}


.rake40{
    position: relative;
    bottom: 5896px;
    left: 510px;
}

.rake41{
    position: relative;
    bottom: 5840px;
    right: 180px;
}


.rake42{
    position: relative;
    bottom: 6239px;
    right: 280px;
    left: 170px;
}

.rake43{
    position: relative;
    bottom: 6638px;
    left: 515px;
    
}


.card11{
    background-color: white;
    width: 320px;
    height: 400px;

    
}

.card12{
    background-color: white;
    width: 320px;
    height: 400px;
}


.card13{
    background-color: white;
    width: 320px;
    height: 400px;
}

.card14{
    background-color: white;
    width:320px ;
    height: 400px;
}

.card15{
    background-color: white;
    width: 320px;
    height: 400px;
}



.rake44{
    font-size: 20px;
    position: relative;
    right: 238px;
    bottom: 40px;
}

.rake45{
    width: 20px;
    position: relative;
    right: 59px;
    top: 10px;
}


.rake46{
    position: relative;
    right: 185px;
    bottom: 30px;
}

.rake47{
    position: relative;
    right: 180px;
    top: 20px;
}

.rake48{
    width: 20px;
    position: relative;
    right: 60px;
    top: 100px;
}


.rake49{
    position: relative;
    right: 180px;
    top: 30px;
}

.rake50{
    width: 20px;
    position: relative;
    right: 80px;
    top: 80px;
}

.rake51{
    position: relative;
    right: 190px;
    top:25px;
}

.rake52{
    width: 20px;
    position: relative;
    right: 95px;
    top: 50px;
}

.rake53{
    position: relative;
    right: 180px;
    top: 20px;
}

.rake54{
    width: 20px;
    position: relative;
    right: 85px;
    top: 70px;
}

.rake55{
    position: relative;
    right: 180px;
    top: 25px;
}

.rake56{
    width: 20px;
    position: relative;
    right: 80px;
    top: 100px;
}

.rake57{
    position: relative;
    right: 180px;
    top: 30px;
}

.rake58{
    width: 20px;
    position: relative;
    right: 80px;
    top: 80px;
}

.btt{
    left: 20px;
    bottom: px;
}